<div class="footer-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="copyright">
                    <p>© <span>Copyright</span> <strong class="px-1 sitename">B2M Technologies</strong> <span>Tous droits reservés</span></p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-bottom-links">
                    <a href="{{ path('app_confidentialite') }}">Politique de confidentialité</a>
                    <a href="{{ path('app_condition_utilisation') }}">Conditions d'utilisation</a>
                    <a href="{{ path('app_utilisation_cookies') }}">Politique relative aux cookies</a>
                </div>
                <div class="credits">
                    Powered by <a href="https://b2mtechnologies.ga">B2M Technologies</a>
                </div>
            </div>
        </div>
    </div>
</div>
