<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="{{ asset('assets/img/logo.webp') }}" alt=""> -->
            <h1 class="sitename">eFac</h1>
        </a>
        {% include 'base2.menu.html.twig' %}
    </div>
</header>
